manifest {
    name            = 'ProteoBench_runners'
    author          = 'CompOmics'
    homePage        = 'https://github.com/rodvrees/ProteoBench_runners'
    description     = 'Nextflow pipeline running DIA-NN, AlphaDIA, Sage, FragPipe, MaxQuant, and MetaMorpheus on ProteoBench benchmark datasets.'
    mainScript      = 'proteobench.nf'
    nextflowVersion = '>=23.10'
    version         = '1.0.0'
}
